@font-face {
font-family: 'Inter';
src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("opentype");
}

body {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color:#B2BCBC;
    font-family: Inter;
}
nav{
    grid-column: 2/4;
    background-color: #F1F1F1;
}
main{
    grid-column: 4/10;
    background-color: #FFFF;
}
button{
    background-color: #FFFF;
    border: 2px;
}
input{
    text-align: center;
}
option{
    text-align: center;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: px solid #ddd;
    padding: 8px;
}

.parent {
    margin: 20px 20px 20px 20px;
    text-align: left;
    background-color: #F1F1F1;
}

.Addusertab {
    text-align: center;
    
}
.Adduserheading{
    margin-bottom: 40px;
    margin-top: 20px;

}
.inputtext{
    padding: 6px;
    margin-bottom: 10px;

}
.inputdropdown{
    padding: 6px;
    margin-bottom: 10px;
    width: 180px;
}


.tableheader{
    display: inline-block;
    padding: 1rem 1rem;
    border: 0px solid red;
    vertical-align: middle;
    background-color: #FFFF;
}

th, td, tr {
    padding:8px;
    text-align: center;
    border-bottom: 2px solid #B2BCBC;
    border-top: 1px solid #B2BCBC;
}
