@font-face {
    font-family: 'Inter';
    src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("opentype");
}

body {
	padding: 0;
	margin: 0;
	background-color:#B2BCBC;
	font-family: Inter;
}

#container {
	display: grid;
	grid-template-columns: repeat(10, 1fr);	
}

main {
	display: grid;
	grid-column: 3/9;
	
	background-color: #F1F1F1;
}

h1 { 
	text-align: center;
	font-weight: 400;
	
	margin-top: 84px;
	margin-bottom: 97px;
}

a {
	text-align: center;
	text-decoration: none;
	color: black;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

input {
	margin-bottom: 22px;
	
	text-align: center;
}

#email {
	width: 212px;
	height: 39px;
}

#pass {
	width: 212px;
	height: 39px;
}

button {
	width: 116px;
	height: 39px;
	
	margin-bottom: 22px;
	
	background-color: white;
}