@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*Media Queries*/
/*HMTL Tags*/
body {
    background-color: #B2BCBC;
}

header{
    grid-column: 1/8;
}

table {
    font-family: arial, sans-serif;
    border-spacing: 25px;
    border-collapse: separate;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #FFFFFF;
    display: block;
    flex: auto;

}

td, th {
    text-align: left;
    padding: 8px;
    border-radius: 50%;
    text-align: center;

    height: 25px;
    width: 25px;
    background-color: #dddddd;
    color: #50595B;
}

a{
    color: #50595B;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

li{
    margin-left: 15px;
}


/*Hidden Elements*/

/*IDs*/
#container {
    display: grid;
    font-family: Inter;
    font-weight: 400;
    grid-template-columns: repeat(8,1fr);
}

#dateAndEvents {
    display: flex;
    background-color: #50595B;
    color: white;
    flex-direction: column;
    flex: 25%;
}

#date {
    display: flex;
}
#date h3 {
    margin: 0;
    padding: 0;
    line-height: 1.25em;
    font-family: Inter;
    font-weight: 400;
}

#daysAndWeeks {
    grid-column: 4/8;
}

#calendar {
    display: flex;
    grid-column: 2/8;
    background-color: #F1F1F1;
    padding: 1%;
}
/*Classes*/
.WelcomeUser {
    grid-column: 2/8;
    background-color: #F1F1F1;
}

.eventList{
    padding-right: 10%;
}
